@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Titillium+Web&display=swap');


img{border-radius: 80px}

body {
  margin: 40px;
  font-family: "Josefin Sans";
  background-color: #d6b0b1
  }

h1 {
  color: #da723c ;
  text-align: center ;
}

 /** h1, h2 == selection de tout les H1 ET H2 **/

h1, h2 {
  font-size: 50px;
  font-family: "Titillium Web"
  
}

h2 {
  color: #91091e ;
  text-align: center ;
  font-weight: bold; 
  background-color: #fdf1d6
}

div {
  margin: 30px 20px ;
  padding: 50px ;
  background-color: white ;
  border-radius: 80px ;
  box-shadow: 0 10px 30px
    rgba(1,0,0,1);
}

div:hover{
  box-shadow: 0 12px 12px;
  background-color: #f4f5db
}

.text-pink{
    color: #ff75a0 ;
}

.text-purple{
color: #350b40 ;
}

.btn-blue{
  background-color:#1687a7;
  padding: 10px;
  border-radius: 120px;
  text-decoration: none;  
  color: white;
}

.card{
  border : 1px solid #ffe8e842;
  padding : 10px;
  background-color: #f5f4f4;
  border-radius : 39px;
  box-shadow: -7px -5px #2c061f;
}

.center{
  text-align: center;
 }